<% case @user_rating %>
<% when 1 %>
  <h5 class="me-4">Your rating: <i class="fa-solid fa-star text-info"></i><i class="fa-regular fa-star text-info"></i><i class="fa-regular fa-star text-info"></i><i class="fa-regular fa-star text-info"></i><i class="fa-regular fa-star text-info"></i></h5>
<% when 2 %>
  <h5 class="me-4">Your rating: <i class="fa-solid fa-star text-info"></i><i class="fa-solid fa-star text-info"></i><i class="fa-regular fa-star text-info"></i><i class="fa-regular fa-star text-info"></i><i class="fa-regular fa-star text-info"></i></h5>
<% when 3 %>
  <h5 class="me-4">Your rating: <i class="fa-solid fa-star text-info"></i><i class="fa-solid fa-star text-info"></i><i class="fa-solid fa-star text-info"></i><i class="fa-regular fa-star text-info"></i><i class="fa-regular fa-star text-info"></i></h5>
<% when 4 %>
  <h5 class="me-4">Your rating: <i class="fa-solid fa-star text-info"></i><i class="fa-solid fa-star text-info"></i><i class="fa-solid fa-star text-info"></i><i class="fa-solid fa-star text-info"></i><i class="fa-regular fa-star text-info"></i></h5>
<% when 5 %>
  <h5 class="me-4">Your rating: <i class="fa-solid fa-star text-info"></i><i class="fa-solid fa-star text-info"></i><i class="fa-solid fa-star text-info"></i><i class="fa-solid fa-star text-info"></i><i class="fa-solid fa-star text-info"></i></h5>
<% end %>
