<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/69212/pexels-photo-69212.jpeg);">
  <div class="container">
    <h1>Your best place for <strong>hipster</strong> stories.</h1>
    <p>Share your lifestyle with others.</p>
    <%= link_to "Start now!", articles_path, class:"btn btn-flat" %>
  </div>
</div>
