.article-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.article-background {
  background-size: cover;
  background-position: center;
  height: 325px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-back-title {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.article-container {
  position: relative;
  margin-bottom: 20px;
}

.article-delete {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.2rem;
  color: $primary;
}

.article-edit {
  position: absolute;
  top: 20px;
  left: 20px;
}

.article-text {
  color: #2E2412;
  text-decoration: none;
}

.article-content {
  min-height: 150px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-form {
  display: flex;
}

.search-field {
  width: 250px;
}

.article-show-picture {
  max-height: 450px;
  object-fit: cover;
}

@media(max-width: 576px) {
  .search-container {
    display: block;
    margin-bottom: 0;
  }

  .search-field {
    width: auto;
  }

  .search-form {
    margin-bottom: 25px;
  }

  .create-button {
    display: flex;
    justify-content: center;
  }
}
